<html>
<head>
    <title>Edit Issue &mdash; Issue CRUD Tutorial</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <h1>Edit issue $issue.getKey()</h1>

        #if ($errors.size()>0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end

        <div class="create-issue-panel">

            <form method="post" id="h" action="issuecrud" class="aui">
                <input type="hidden" name="edit" value="y">
                <input type="hidden" name="key" value="$issue.getKey()">
                <div class="field-group">
                    <label for="h-fsummary">
                        Summary
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <input id="h-fsummary" class="text long-field" type="text" name="summary" value="$issue.getSummary()">
                </div>
                <div class="field-group">
                    <label for="h-fdescription">
                        Description
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <textarea id="h-fdescription" name="description">$issue.getDescription()</textarea>
                </div>
                <div class="buttons">
                    <input class="button" type="submit" value="Update">&nbsp;
                    <a href="issuecrud">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>